/* Cart.css */

/* Regular View Styles */
.cart {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
}

.back-button {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
}

.cart-items {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.cart-item-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-image {
  display: none
}

.cart-item-name,
.cart-item-price,
.cart-item-qty,
.cart-item-subtotal {
  flex: 1;
  text-align: center;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

.checkout-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Mobile View Styles */
@media screen and (max-width: 600px) {
  .cart {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  .back-button {
    font-size: 14px;
    padding: 3px 8px;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }

  .cart-item-info {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .cart-image {
    display: none; /* Hide the cart image in mobile view */
  }
  .cart-item-name,
  .cart-item-price,
  .cart-item-qty,
  .cart-item-subtotal {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }

  .cart-total {
    margin-top: 10px;
    font-size: 16px;
  }

  .checkout-button {
    margin: 20px 0;
    padding: 8px 16px;
    font-size: 14px;
  }
}
